{minimum_otp_vsn, "21.3"}.

{erl_opts, [debug_info]}.
{deps, [cowboy,
    jiffy,
    brod,
    erlastic_search,
    recon,
    {flatlog, {git, "https://github.com/ferd/flatlog", {branch, "master"}}}
]}.

{relx, [{release, { ws_server, "0.1.0" },
    [ws_server,
    sasl,
    cowboy,
    jiffy,
    brod
]},

{sys_config, "./config/sys.config"},
{vm_args, "./config/vm.args"},

{dev_mode, true},
{include_erts, false},

{extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
    {include_erts, true}]}]
        }]
}.

{xref_checks, [undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
